body {
    margin: 0;
    padding: 0;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.color-preview {
    height: 100vh;
}

.controls-container {
    height: 100vh;
}

.controls {
    background-color: rgba(0, 0, 0, .5);
    color: #FFF;
    font-family: sans-serif;
    font-size: .8em;
    text-align: center;
    text-shadow: 0 0 1px #000;

    padding: 1em;
}

.controls > *:not(:last-child) {
    margin-bottom: 1em;
}

.controls input {
    width: 90%;
}

.github-link {
    position: absolute;
    top: 1em;
    right: 1em;
}
